<% if CodeMaker == nil %>
	<form action="/" method="post"> 
		Player #1 will select the secret code. Which type of player would you like?<br>
		<input type="radio" name="code_maker" value="1">Human<br>
		<input type="radio" name="code_maker" value="2">Computer<br>
		<input type="submit">
	</form>
<% elsif SecretCode ==nil && CodeMaker == "1" %>
	<form action="/" method="post">
	  Player 1: Please select a secret code: 
	  <input type="text" name="secret_code">
	  <input type="submit">
	</form>
<% elsif Guesser == nil %>
	<form action="/" method="post"> 
		Player #2 will try to guess the secret code in less than 10 tries. Which type of player would you like?<br>
		<input type="radio" name="guesser" value="1">Human<br>
		<input type="radio" name="guesser" value="2">Computer<br>
		<input type="submit">
	</form>
<% elsif Guesser == "1" %>
	<form action="/" method="post">
	  Player 2: Please make guesses until you get 4 black pegs: 
	  <input type="text" name="guess">
	  <input type="submit">
	</form><br>
<% end %>

<% unless Guesses.empty? %>
	<h3>Player 2's Guesses:</h3>
	<table style="width:340px">
		<th>
			<td style="width:100px">Guess</td>
			<td style="width:100px">Black Pegs</td>
			<td style="width:100px">White Pegs</td>
		</th>
	<% Guesses.each_with_index do |guess, index| %>
		<tr>
			<td>#<%= index + 1 %></td>
			<td><%= guess[:guess] %></td>
			<td><%= guess[:black] %></td>
			<td><%= guess[:white] %></td>
		</tr>
	<% end %>
	</table><br>
<% end %>
<br><em><%= @display_message %></em>
<br><%= SecretCode %>
